In [1]:
#EJERCICIO  = ¿Qué BBDD tenemos en nuestro servidor?

%pip install mysql-connector

Requirement already satisfied: mysql-connector in c:\users\anane\appdata\local\programs\python\python311\lib\site-packages (2.2.9)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.3.1 -> 23.1.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
import mysql.connector

In [3]:
mydb = mysql.connector.connect(
                  user='root', password='AlumnaAdalab',
                  host='127.0.0.1',
                  database='northwind')

mycursor = mydb.cursor()

mycursor.execute("SHOW DATABASES")

for x in mycursor:
  print(x)

('information_schema',)
('leccion-1-sql',)
('leccion-10-sql',)
('leccion-11-sql',)
('leccion-12-sql',)
('leccion-13-sql',)
('leccion-14-sql',)
('leccion-2-sql',)
('leccion-3-sql',)
('leccion-4-sql',)
('leccion-5-sql',)
('leccion-6-sql',)
('leccion-7-sql',)
('leccion-8-sql',)
('leccion-9-sql',)
('mysql',)
('nba_bbdd',)
('northwind',)
('performance_schema',)
('sakila',)
('sys',)
('tienda',)
('world',)

In [5]:
#EJERCICIO 2

mydb = mysql.connector.connect(
                  user='root', password='AlumnaAdalab',
                  host='127.0.0.1',
                  database='northwind')

mycursor = mydb.cursor()

mycursor.execute("SHOW TABLES")

for x in mycursor:
  print(x)

('categories',)
('customer_customer_demo',)
('customer_demographics',)
('customers',)
('employee_territories',)
('employees',)
('order_details',)
('orders',)
('products',)
('region',)
('shippers',)
('suppliers',)
('territories',)

In [6]:
##EJERCICIO 3 = ¿Qué columnas tiene cada una de las tablas? 
#Para esto tendréis que hacer un for looP


mydb = mysql.connector.connect(
                  user='root', password='AlumnaAdalab',
                  host='127.0.0.1',
                  database='northwind')

mycursor = mydb.cursor()

mycursor.execute("SHOW TABLES")
tablas = mycursor.fetchall()

# Iterar sobre las tablas
for tabla in tablas:
    nombre_tabla = tabla[0]
    print(f"Tabla: {nombre_tabla}")

    # Obtener las columnas de la tabla
    mycursor.execute(f"DESCRIBE {nombre_tabla}")
    columnas = mycursor.fetchall()

    # Imprimir las columnas
    for columna in columnas:
        nombre_columna = columna[0]
        print(f" - {nombre_columna}")

    print()

for x in mycursor:
  print(x)

Tabla: categories
 - category_id
 - category_name
 - description
 - picture

Tabla: customer_customer_demo
 - customer_id
 - customertype_id

Tabla: customer_demographics
 - customer_type_id
 - customer_desc

Tabla: customers
 - customer_id
 - company_name
 - contact_name
 - contact_title
 - address
 - city
 - region
 - postal_code
 - country
 - phone
 - fax

Tabla: employee_territories
 - employee_id
 - territory_id

Tabla: employees
 - employee_id
 - last_name
 - first_name
 - title
 - title_of_courtesy
 - birth_date
 - hire_date
 - address
 - city
 - region
 - postal_code
 - country
 - home_phone
 - extension
 - photo
 - notes
 - reports_to
 - photo_path

Tabla: order_details
 - order_id
 - product_id
 - unit_price
 - quantity
 - discount

Tabla: orders
 - order_id
 - customer_id
 - employee_id
 - order_date
 - required_date
 - shipped_date
 - ship_via
 - freight
 - ship_name
 - ship_address
 - ship_city
 - ship_region
 - ship_postal_code
 - ship_country

Tabla: products
 - product_id
 - product_name
 - supplier_id
 - category_id
 - quantity_per_unit
 - unit_price
 - units_in_stock
 - units_on_order
 - reorder_level
 - discontinued

Tabla: region
 - region_id
 - region_description

Tabla: shippers
 - shipper_id
 - company_name
 - phone

Tabla: suppliers
 - supplier_id
 - company_name
 - contact_name
 - contact_title
 - adress
 - city
 - region
 - postal_code
 - country
 - phone
 - fax
 - home_page

Tabla: territories
 - territory_id
 - territory_description
 - region_id

In [7]:
#EJERCICIO 5 = Cerrad conexión con el servidor

mycursor.close()
mydb.close()