In [11]:
#ejercicio 1 .Crear bbdd mi_primerita_BBDD_python.
# Hay que crear una funcion que nos sirva para crear tablas independientemente del contenido de la tabla.
# parametros para la funcion: contrase√±a de la cnx al servidor, query para crear la tabla

import mysql.connector

def crear_tabla(password,query):
    cnx = mysql.connector.connect(user='root', password = password,
                              auth_plugin='mysql_native_password',
                              host='127.0.0.1',
                              database = 'mi_primerita_BBDD_python')


    mycursor = cnx.cursor()
   
    try:
        mycursor.execute(query)
        print(mycursor)
    except mysql.connector.Error as err:
        print(err)
        print("Error Code:", err.errno)
        print("SQLSTATE", err.sqlstate)
        print("Message", err.msg)

In [23]:

query_zapatillas = """CREATE TABLE zapatillas (
                                    id_zapatillas INT AUTO_INCREMENT NOT NULL PRIMARY KEY,
                                    modelo VARCHAR(45) NOT NULL,
                                    color VARCHAR(45) NOT NULL,
                                    talla INT NOT NULL
                                                );"""

In [25]:
query_clientes = """CREATE TABLE clientes (
                                    id_cliente INT AUTO_INCREMENT NOT NULL PRIMARY KEY,
                                    nombre VARCHAR(45)NOT NULL,
                                    numero_telefono INT(9)NOT NULL,
                                    email varchar(45)NOT NULL,
                                    direccion VARCHAR(45)NOT NULL,
                                    ciudad VARCHAR(45),
                                    provincia VARCHAR(45)NOT NULL,
                                    pais VARCHAR(45)NOT NULL,
                                    codigo_postal INT (9)NOT NULL);"""

In [31]:
query_empleados = """CREATE TABLE empleados (
                                    id_empleado INT AUTO_INCREMENT NOT NULL PRIMARY KEY,
                                    nombre VARCHAR(45) NOT NULL,
                                    tienda VARCHAR(45) NOT NULL,
                                    salario FLOAT,
                                    fecha_incorporacion DATE NOT NULL);"""

In [36]:
query_facturas = """CREATE TABLE facturas(
                                    id_factura INT AUTO_INCREMENT NOT NULL PRIMARY KEY,
                                    id_empleado INT NOT NULL,
                                    id_cliente INT NOT NULL,
                                    id_zapatillas INT NOT NULL,
                                    fecha DATE NOT NULL,
                                    total FLOAT NOT NULL,
                                                CONSTRAINT fk_facturas_zapatillas
                                                    FOREIGN KEY(id_zapatillas)
                                                    REFERENCES zapatillas(id_zapatillas),
                                                CONSTRAINT fk_facturas_clientes
                                                    FOREIGN KEY(id_cliente)
                                                    REFERENCES clientes(id_cliente),
                                                CONSTRAINT fk_facturas_empleados
                                                    FOREIGN KEY(id_empleado)
                                                    REFERENCES empleados(id_empleado));"""

In [32]:
import mysql.connector
crear_tabla('AlumnaAdalab',query_zapatillas)

CMySQLCursor: CREATE TABLE zapatillas (
              ..

In [33]:
import mysql.connector
crear_tabla('AlumnaAdalab',query_clientes)

1050 (42S01): Table 'clientes' already exists
Error Code: 1050
SQLSTATE 42S01
Message Table 'clientes' already exists

In [34]:
import mysql.connector
crear_tabla('AlumnaAdalab', query_empleados)

CMySQLCursor: CREATE TABLE empleados (
               ..

In [37]:
import mysql.connector
crear_tabla('AlumnaAdalab',query_facturas)

CMySQLCursor: CREATE TABLE facturas(
                 ..